USE [master]
GO
/****** Object:  Database [Video_Rental_Inder]    Script Date: 17-09-2019 12:23:02 ******/
CREATE DATABASE [Video_Rental_Inder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Video_Rental_Inder_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Video_Rental_Inder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Video_Rental_Inder_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Video_Rental_Inder.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Video_Rental_Inder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Video_Rental_Inder]
GO
USE [Video_Rental_Inder]
GO
/****** Object:  Table [dbo].[C_Customer]    Script Date: 17-09-2019 12:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[C_Name] [varchar](50) NULL,
	[C_Phone] [varchar](50) NULL,
	[C_Address] [varchar](50) NULL,
 CONSTRAINT [PK_C_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_Rent]    Script Date: 17-09-2019 12:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_Rent](
	[R_Id] [int] IDENTITY(1,1) NOT NULL,
	[C_Id] [int] NULL,
	[V_Id] [int] NULL,
	[V_Issue] [varchar](50) NULL,
	[V_Return] [varchar](50) NULL,
 CONSTRAINT [PK_R_Rent] PRIMARY KEY CLUSTERED 
(
	[R_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V_Video]    Script Date: 17-09-2019 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_Video](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[V_Title] [varchar](50) NULL,
	[V_Ratting] [varchar](50) NULL,
	[V_Year] [varchar](50) NULL,
	[V_Cost] [int] NULL,
	[V_Copies] [varchar](50) NULL,
	[V_Plot] [varchar](50) NULL,
	[V_Genre] [varchar](50) NULL,
 CONSTRAINT [PK_V_Video] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
